<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Orçamento - KBSistemas</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>


<body>


<header>

<div class="logo">
    <h1>KB<span>Sistemas</span></h1>
</div>


<nav>

<a href="/">Início</a>
<a href="/sobre">Sobre</a>
<a href="/servicos">Serviços</a>
<a href="/planos">Soluções</a>
<a href="/contato">Contato</a>

</nav>

</header>





<section class="contato-home">


<h1>
Solicite seu orçamento
</h1>


<p>
Conte um pouco sobre seu projeto e entraremos em contato.
</p>




<div class="card">


<form>


<label>
Nome:
</label>

<br>

<input type="text" placeholder="Digite seu nome">


<br><br>


<label>
Empresa:
</label>

<br>

<input type="text" placeholder="Nome da empresa">


<br><br>


<label>
Tipo de projeto:
</label>

<br>


<select>

<option>
Escolha uma opção
</option>

<option>
Sistema
</option>

<option>
Site
</option>

<option>
Aplicativo
</option>

<option>
Loja Virtual
</option>

</select>


<br><br>


<label>
Descrição do projeto:
</label>

<br>


<textarea 
placeholder="Explique o que você precisa">

</textarea>


<br><br>


<a 
href="https://wa.me/5511911524799?text=Olá,%20gostaria%20de%20fazer%20um%20orçamento"
class="botao">

Enviar orçamento

</a>


</form>


</div>


</section>





<footer>

<p>
© 2026 KBSistemas - Desenvolvimento de Sistemas, Sites e Aplicativos.
</p>

</footer>


</body>

</html>
